<div>
    <core-course-module-description description="" component="mod_checklist" componentId="{{ cmid }}"></core-course-module-description>
    
    <ion-list>

        {{#vars}}
        <ion-item>
          <ion-label>{{name}}</ion-label>
          <ion-checkbox checked="true" [(ngModel)]="CONTENT_OTHERDATA.{{ vname }}" ></ion-checkbox>
        </ion-item>
        {{/vars}}

        <ion-item>
            <button ion-button core-site-plugins-new-content block component="mod_checklist" method="mobile_checklist_submit" [args]="{cmid: 4, courseid: 5 }" samePage="false" 
              [useOtherData]="[{{#vars}}'{{ vname }}',{{/vars}} 'temp' ]" >Submit</button>
        </ion-item>

    </ion-list>

</div>